
  body{
   color:black;
   background-image: url(http://subtlepatterns.com/patterns/wavegrid.png);
   font-family:'微軟正黑體';
  
  }
    
    a{text-decoration:none;
      color:#1a1a4a;}
    a:hover{
      color:#594f8a;
    }
    a:active{
      background-color:#c4e7ff;
    }
    a:visited{
      text-decoration:underline;
      color:#4d084d;
    }
    
    
    #header{
      height:80px;
　    text-align:center;
　    line-height:80px;
      margin:15px;
     
    }
    
    #right_section{
　    width:120px;
　    height:400px;
      margin:40px
　    text-align:center;
　    line-height:400px;
　    float:left;
      display:inline-block;
    }
    
    #main{
      margin-left:220px;
　    margin-right:120px;
　    height:10px;
　    background-color:#F2FFF2;
　    text-align:center;
　    line-height:120px
      display:inline-block;
      float:left;
    }
    
    #nav ul{
    list-style-type:none;
    display:inline-block;
    float:right;
      margin-right:30px;
  }
    
  

    
  #nav2{
  margin: 2em;
  padding: 0;
  list-style-type: none;
  color:#ffffff;
  }
    
  #nav2 li{
    float:left;
    width:130px;
    line-height: 2em;
    background:#40607f;
    text-align:center;
  }
    
  #nav2 li a {
    display:block;
    width: 100px;
    height:30px;
    padding-top:2px;
    color:#FFF;
    text-decoration: none;
　}
   
  #nav2 li a:hover{
    background-color:#308a8a;
  }
    
  
  ul.submenu{
   border:2px dashed black; 
   list-style-type:none;
   width:180px; 
   height:350px;
   margin:20px;
   padding:10px;
  }
  


  
  /*.login{
    float:right;
  }*/
    
  #mainImg{
   clear:both;
   border:1em solid white;
   border-radius:0.5em;
   width:950px;
   margin-left:200px;
   padding:0.1em;
   background-color: rgb(254, 254, 254);
   box-sizing:border-box;
  }

  .hot_title{
    color:white;
    width:180px;
    height:20px;
    margin:20px;
    padding:10px;
    background:
    url(http://kabegami.tank.jp/tex-ai/tex-ai03/c.gif)left top repeat;
    display:inline-block;
  }
    

  .recom_title{
    color:white;
    width:180px;
    height:20px;
    margin:20px;
    padding:10px;
    background:
    url(http://kabegami.tank.jp/tex-ai/tex-ai03/c.gif)left top repeat;
    display:inline-block;
  }

  ul.hot_menu{
    border:2px dashed black;
    list-style-type:none; 
    /*background:#a3bef2;*/
    width:180px; 
    height:260px;
    margin:20px;
    padding:10px;
   
  }
  
  ul.recom_menu{
    border:2px dashed black;
    list-style-type:none;
    /*background:#a3bef2;*/
    width:180px; 
    height:260px;
    margin:20px;
    padding:10px;
   
  }
    
  .ScenicSpot a{
    color:#9e0538;
  }
    
  .ScenicSpot a:hover{
    color:#de054d;
  }  
    
  .ScenicSpot {
  position: relative;
  padding:1.5em;
  margin:1em;
  width: 500px;
  height: 150px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
  border-radius: 15%     15%     15%     15% /     2%     2%     2%     2%;
}
.ScenicSpot:before {
    position: absolute;
    z-index: -1;
    content: "";
    top: 0px;
    right: 0px;
    width: 15%;
    height: 15%;
    border-radius: 0 20% 0 0;
    box-shadow: 10px -10px 10px rgba(0,0,0,0.5);
    -webkit-transform: rotate(2deg) translate(-14px,20px) skew(-20deg);
     -moz-transform: rotate(2deg) translate(-14px,20px) skew(-20deg);
     -ms-transform: rotate(2deg) translate(-14px,20px) skew(-20deg);
     -o-transform: rotate(2deg) translate(-14px,20px) skew(-20deg);
     transform: rotate(2deg) translate(-14px,20px) skew(-20deg);
    }
.ScenicSpot:after {
    position: absolute;
    z-index: -1;
    content: "";
    top: 0px;
    left: 0px;
    width: 15%;
    height: 15%;
    border-radius: 20% 0 0 0;
    box-shadow: -10px -10px 10px rgba(0,0,0,0.5);
    -webkit-transform: rotate(2deg) translate(14px,20px) skew(20deg);
     -moz-transform: rotate(2deg) translate(14px,20px) skew(20deg);
     -ms-transform: rotate(2deg) translate(14px,20px) skew(20deg);
     -o-transform: rotate(2deg) translate(14px,20px) skew(20deg);
     transform: rotate(2deg) translate(14px,20px) skew(20deg);
    }
    
    #footer{
    clear:both;
　  background-color:white;
　  height:80px;
　  text-align:center;
　  line-height:80px;
    margin:170px;  
    }
    
    .taipei_logo{
      display:inline-block;
    }
    
    .copyright{
      display:inline-block;
      text-align:center;
    }
    
    .other_logo{
      display:inline-block;
    }
    
    
    
    
  

